<h1>Pending Users</h1>
<% @users.each do |user| %>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <% if user.approved == false %>
    <td>pending</td>
    <% end %>
    <td><%= button_to "Approve User", admin_pending_approve_path,
    params: {:id => user.id, :approved => user.approved},
    method: :post %></td>
  </tr>
</table>
<% end %>