<h1>User Info</h1>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
<% if @user.approved == false %>
    <p>Status: Not approved</p>
<% else %>
    <p>Status: Approved</p>
<% end %>

<%= link_to "Edit User", edit_admin_path(@user.id) %>
