<div class="user-info-container">
    <h1>User Info</h1>
    <div class="user-info-item">
        <p>Name: <%= @user.name %></p>
    </div>
    <div class="user-info-item">
        <p>Email: <%= @user.email %></p>
    </div>
    <% if @user.approved == false %>
        <div class="user-info-item">
            <p id="status-not-approved">Status: Pending</p>
        </div>
    <% else %>
        <div class="user-info-item">
            <p id="status-approved">Status: Approved</p>
        </div>
    <% end %>
    <div class="edit-user-div">
        <%= link_to "Edit User", edit_admin_path(@user.id) %>
    </div>
    
</div>

